@import './mixins/mixins';

// .tpl-info-item
@include c('info-item') {
  display: flex;
  margin-bottom: 12px;
  // .tpl-info-item-label
  @include e(label) {
    font-size: 14px;
    color: #999999;
    text-align: right;
  }
  // .tpl-info-item > .content
  .content {
    color: #333;
  }

}
