// css class name prefix
$namespace: 'scss' !default;
// component
@mixin c($component) {
  $B: $namespace + '-' + $component !global;
  $E: $namespace + '-' + $component !global;
  .#{$B} {
    @content;
  }
}


// element
@mixin e($element, $append: false) {
  $E: $B + '-' + $element !global;
  @if $append {
    .#{$E} {
      @content;
    }
  }
  @else {
    @at-root .#{$E} {
      @content;
    }
  }
}
