<template>
    <div class="content">
        <slot/>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from 'vue-property-decorator';

    @Component
    export default class InfoItemLabel extends Vue {
    }
</script>
