<template>
  <div
  >
    <ul>
      <MtdTemplateInfoItem label="name">
        hello
      </MtdTemplateInfoItem>
      <MtdTemplateInfoItem label="age">
        world
      </MtdTemplateInfoItem>
    </ul>
  </div>
</template>

