<template>
  <ul style="margin-top: 50px; list-style: none;">
    <!--h2标签用于展示demo块的名称-->
    <h2>基础用法</h2>
    <!--p标签用于展示demo块的描述-->
    <p>展示组件的最基础用法</p>
    <Base/>
    <h2>事件处理</h2>
    <p>展示组件的事件处理方法</p>
    <Event/>
  </ul>
</template>
<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import Base from './base.vue';
  import Event from './event.vue';

  @Component({
    components: {
      Base,
      Event
    }
  })
  export default class Demo extends Vue {
  }
</script>
