<template>
  <MtdTemplateInfoItem
    label="点击"
    @click="handleClick"
  >
    快快点击我吧
  </MtdTemplateInfoItem>
</template>

<style scoped lang="scss">

</style>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component
  export default class Event extends Vue {
    private handleClick() {
      alert('hello world😄');
    }
  }
</script>
