<template>
    <li
        class="tpl-info-item"
        @click="handleClick"
    >
        <label
            class="tpl-info-item-label"
            :style="{
          width: labelWidth,
          'margin-right': labelMarginRight
      }"
        >
            {{ label }}:
        </label>
        <mtd-input/>
        <InfoItemContent>
            <slot/>
        </InfoItemContent>
    </li>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator';
    import InfoItemContent from './components/InfoItemContent.vue';

    @Component({
        components: {
            InfoItemContent
        }
    })
    export default class MtdTemplateInfoItem extends Vue {
        @Prop({
            type: String,
            required: true
        })
        private label!: string;

        @Prop({
            type: String,
            default: '100px'
        })
        private labelWidth!: string;

        @Prop({
            type: String,
            default: '20px'
        })
        private labelMarginRight!: '20px';

        private handleClick() {
            this.$emit('click', this.label);
        }
    }
</script>
